<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport">

    <title>Celebrity faces</title>
  </head>
  <body>
    <h2 class="card-header">This site can use your photo to find your celebrity look-alike.</h2>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/celebrity.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <form class="was-validated celebrity-main" enctype="multipart/form-data" method="post" action="" role="form">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="user_image" name="user_image" required>
        <label class="custom-file-label" for="user_image">Choose your photo...</label>
        <br>
        <input class="btn btn-info" type="submit" value="Отправить" style="margin-top: 5px">
      </div>
    </form>

    <br>
    <br>

    {% block content %}{% endblock %}

  </body>
</html>